Repository venikman/ACP-inspector: changes, and which pre-commit hooks are due for each by the changed paths.
All: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk, markdownlint, links

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: fantomas
        name: Fantomas F# Formatter
        entry: bash -c 'dotnet tool restore > /dev/null 2>&1 && dotnet fantomas --check cli/apps cli/src runtime/src protocol/src sentinel/src sentinel/tests'
        language: system
        files: \.(fs|fsx|fsi)$
        exclude: ^(sentinel/tests/golden/|.*obj/.*|.*\.AssemblyInfo\.fs)
        pass_filenames: false

      - id: dotnet-test-main
        name: Run ACP.Tests (main test suite)
        entry: bash -c 'dotnet test sentinel/tests/ACP.Tests.fsproj --configuration Release --logger "console;verbosity=minimal"'
        language: system
        files: \.(fs|fsx|fsi|fsproj)$
        pass_filenames: false

      - id: dotnet-test-epistemology
        name: Run Epistemology.Harness tests
        entry: bash -c 'dotnet test sentinel/tests/Epistemology.Harness/Epistemology.Harness.fsproj --configuration Release --logger "console;verbosity=minimal"'
        language: system
        files: \.(fs|fsx|fsi|fsproj)$
        pass_filenames: false

      - id: dotnet-test-validation
        name: Run Validation.Harness tests
        entry: bash -c 'dotnet test sentinel/tests/Validation.Harness/Validation.Harness.fsproj --configuration Release --logger "console;verbosity=minimal"'
        language: system
        files: \.(fs|fsx|fsi|fsproj)$
        pass_filenames: false

      - id: dotnet-test-sdk
        name: Run SDK.Harness tests
        entry: bash -c 'dotnet test sentinel/tests/SDK.Harness/SDK.Harness.fsproj --configuration Release --logger "console;verbosity=minimal"'
        language: system
        files: \.(fs|fsx|fsi|fsproj)$
        pass_filenames: false

      - id: markdownlint
        name: Markdownlint (bunx markdownlint-cli2)
        entry: bash -c 'BUN_INSTALL_BACKEND=copyfile bunx markdownlint-cli2 --config .markdownlint-cli2.yaml'
        language: system
        files: \.(md|markdown)$
        exclude: ^\.codex/

      - id: links
        name: Link check (lychee)
        entry: lychee --config lychee.toml
        language: system
        files: \.(md|markdown)$
        exclude: ^\.codex/

ci: bump GitHub Actions to Node 24-compatible versions
  .github/workflows/acp-upstream-watch.yml
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

ci: remove unused claude.yml and claude-code-review.yml workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

test: consolidate placeholder Harness projects into ACP.Tests (TD-002)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  ACP-inspector.slnx
  docs/architecture/product-structure.md
  docs/tasks/BACKLOG-tech-debt.md
  docs/tooling/coding-standards.md
  sentinel/tests/ACP.Tests.fsproj
  sentinel/tests/Acp.DomainModel.Tests.fs
  sentinel/tests/Epistemology.Harness/DomainModelTests.fs
  sentinel/tests/Epistemology.Harness/Epistemology.Harness.fsproj
  sentinel/tests/Epistemology.Harness/EvalTests.fs
  sentinel/tests/Epistemology.Harness/ValidationTaxonomyTests.fs
  sentinel/tests/SDK.Harness/ConnectionTests.fs
  sentinel/tests/SDK.Harness/ObservabilityTests.fs
  sentinel/tests/SDK.Harness/PermissionTests.fs
  sentinel/tests/SDK.Harness/RuntimeAdapterTests.fs
  sentinel/tests/SDK.Harness/SDK.Harness.fsproj
  sentinel/tests/SDK.Harness/SessionStateTests.fs
  sentinel/tests/SDK.Harness/ToolCallTests.fs
  sentinel/tests/SDK.Harness/TransportTests.fs
  sentinel/tests/Validation.Harness/CodecTests.fs
  sentinel/tests/Validation.Harness/ProtocolValidationTests.fs
  sentinel/tests/Validation.Harness/TokenizerTests.fs
  sentinel/tests/Validation.Harness/TraceAnalysisTests.fs
  sentinel/tests/Validation.Harness/Validation.Harness.fsproj
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk, markdownlint, links

chore(readme): add CI/runtime badges and ACP disambiguation note
  README.md
Due: markdownlint, links

ci: bump actions/cache to v5 in acp-upstream-watch.yml
  .github/workflows/acp-upstream-watch.yml
Due: none

docs(readme): use GitHub note alert and correct governance
  README.md
Due: markdownlint, links

chore(readme): add CI badges and ACP disambiguation note
  README.md
Due: markdownlint, links

docs(superpowers): add 2026-06-09 ACP 0.13.6 parity + SDK release spec
  docs/superpowers/specs/2026-06-09-acp-inspector-spec-parity-and-sdk-release-design.md
Due: markdownlint, links

docs(superpowers): correct spec shapes after PR #42 review
  docs/superpowers/specs/2026-06-09-acp-inspector-spec-parity-and-sdk-release-design.md
Due: markdownlint, links

docs(superpowers): add 2026-06-09 ACP 0.13.6 parity implementation plan
  docs/superpowers/plans/2026-06-09-acp-0.13.6-parity.md
Due: markdownlint, links

feat(acp): add optional ContentChunk.messageId (0.13.6 A1)
  protocol/src/Acp.Domain.fs
  runtime/src/Acp.Codec.AcpJson.fs
  sentinel/tests/Acp.Codec.Tests.fs
  sentinel/tests/Acp.Connection.Tests.fs
  sentinel/tests/Acp.SessionState.Tests.fs
  sentinel/tests/Acp.ToolCalls.Tests.fs
  sentinel/tests/Pbt/Generators.fs
  sentinel/tests/Pbt/ProtocolStateMachine.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

docs: track ACP 0.13 upstream gaps
  docs/ACP-RFD-TRACKER.md
  docs/tasks/README.md
  docs/tasks/TASK-009-acp-0.13-stable-parity.md
Due: markdownlint, links

feat(acp): typed usage_update + Cost/Usage; drop spec-drift SessionPromptResult.usage (0.13.6 A6)
  cli/src/Acp.MessageTag.fs
  protocol/src/Acp.Domain.fs
  runtime/src/Acp.Codec.AcpJson.fs
  runtime/src/Acp.Contrib.SessionState.fs
  sentinel/tests/Acp.Codec.Tests.fs
  sentinel/tests/Acp.Connection.Tests.fs
  sentinel/tests/Acp.SessionState.Tests.fs
  sentinel/tests/Acp.Validation.Tests.fs
  sentinel/tests/Pbt/Generators.fs
  sentinel/tests/Pbt/ProtocolStateMachine.fs
  sentinel/tests/Pbt/SessionProperties.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

feat(acp): add logout method + AgentCapabilities.auth.logout (0.13.6 A5)
  cli/src/Acp.MessageTag.fs
  protocol/src/Acp.Domain.fs
  runtime/src/Acp.Codec.AcpJson.fs
  runtime/src/Acp.Codec.Types.fs
  runtime/src/Acp.Connection.fs
  sentinel/tests/Acp.Codec.Tests.fs
  sentinel/tests/Acp.Connection.Tests.fs
  sentinel/tests/Acp.RuntimeAdapter.Tests.fs
  sentinel/tests/Acp.Validation.Tests.fs
  sentinel/tests/Pbt/Generators.fs
  sentinel/tests/Pbt/SessionProperties.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

feat(acp): add session/close (terminal phase) + session/delete (0.13.6 A2/A4)
  cli/src/Acp.MessageTag.fs
  protocol/src/Acp.Domain.fs
  protocol/src/Acp.Protocol.fs
  runtime/src/Acp.Codec.AcpJson.fs
  runtime/src/Acp.Codec.Types.fs
  runtime/src/Acp.Connection.fs
  sentinel/tests/Acp.Codec.Tests.fs
  sentinel/tests/Acp.Connection.Tests.fs
  sentinel/tests/Acp.Validation.Tests.fs
  sentinel/tests/Pbt/ProtocolStateMachine.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

feat(acp): add session/resume + additionalDirectories (0.13.6 A3/A7)
  cli/src/Acp.MessageTag.fs
  protocol/src/Acp.Domain.fs
  protocol/src/Acp.Protocol.fs
  runtime/src/Acp.Codec.AcpJson.fs
  runtime/src/Acp.Codec.Types.fs
  runtime/src/Acp.Connection.fs
  sentinel/tests/Acp.Codec.Tests.fs
  sentinel/tests/Acp.Connection.Tests.fs
  sentinel/tests/Acp.Validation.Tests.fs
  sentinel/tests/Pbt/Generators.fs
  sentinel/tests/Pbt/ProtocolStateMachine.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

feat(sentinel): informational finding on Ext/unknown traffic (spec 5.3.3)
  sentinel/src/Acp.Validation.fs
  sentinel/tests/Acp.Validation.Tests.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

feat(acp): bump schema pin to 0.13.6 + golden traces (spec 5.5)
  protocol/src/Acp.Domain.fs
  protocol/src/Acp.Protocol.fs
  sentinel/tests/Acp.TraceReplay.Tests.fs
  sentinel/tests/traces/0.13.6-features.jsonl
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

ci: reopen+edit the canonical drift issue instead of skipping (fixes #38)
  .github/workflows/acp-upstream-watch.yml
Due: none

docs: refresh RFD tracker + SDK comparison to 0.13.6 (closes #40)
  docs/ACP-RFD-TRACKER.md
  docs/SDK-COMPARISON.md
Due: markdownlint, links

docs(plan): satisfy markdownlint MD032 (blank lines around lists)
  docs/superpowers/plans/2026-06-09-acp-0.13.6-parity.md
Due: markdownlint, links

fix(acp): accept session/resume without mcpServers (schema-optional)
  runtime/src/Acp.Codec.AcpJson.fs
  sentinel/tests/Acp.Codec.Tests.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

fix(acp): session/close frees the session but keeps the connection ready
  protocol/src/Acp.Protocol.fs
  sentinel/tests/Acp.Validation.Tests.fs
  sentinel/tests/Pbt/ProtocolStateMachine.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

docs(spec): drop nonexistent dotnet --dry-run flag; use local feed for packaging dry run
  docs/superpowers/specs/2026-06-09-acp-inspector-spec-parity-and-sdk-release-design.md
Due: markdownlint, links

fix(codec): reject negative usage_update token counts
  runtime/src/Acp.Codec.AcpJson.fs
  sentinel/tests/Acp.Codec.Tests.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

fix(runtime): preserve cost/_meta in typed usage snapshots
  runtime/src/Acp.Contrib.SessionState.fs
  sentinel/tests/Acp.SessionState.Tests.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

fix(acp): defer close/delete session removal until the agent confirms
  docs/ACP-RFD-TRACKER.md
  docs/superpowers/plans/2026-06-09-acp-0.13.6-parity.md
  protocol/src/Acp.Domain.fs
  protocol/src/Acp.Protocol.fs
  runtime/src/Acp.Codec.AcpJson.fs
  sentinel/tests/Acp.Connection.Tests.fs
  sentinel/tests/Acp.Validation.Tests.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk, markdownlint, links

fix(acp): allow session/delete for saved sessions not active on the connection
  protocol/src/Acp.Protocol.fs
  sentinel/tests/Acp.Validation.Tests.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

fix(acp): AgentConnection responds to logout (onLogout handler + dispatch + ClientConnection.LogoutAsync)
  runtime/src/Acp.Connection.fs
  sentinel/tests/Acp.Connection.Tests.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

test: drop duplicate saved-session delete test
  sentinel/tests/Acp.Validation.Tests.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

feat(sentinel): warn on capability-gated methods used without the advertised capability
  sentinel/src/Acp.Validation.fs
  sentinel/tests/Acp.Validation.Tests.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

fix(acp): AgentConnection responds to authenticate (onAuthenticate handler + dispatch + ClientConnection.AuthenticateAsync)
  runtime/src/Acp.Connection.fs
  sentinel/tests/Acp.Connection.Tests.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

chore: gitignore .claude/worktrees (concurrent session worktrees)
  .gitignore
Due: none

fix(sentinel): warn when additionalDirectories is supplied without the advertised capability
  sentinel/src/Acp.Validation.fs
  sentinel/tests/Acp.Validation.Tests.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

test: bound authenticate wait with WaitAsync instead of WhenAny+Delay
  sentinel/tests/Acp.Connection.Tests.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

fix(sentinel): gate session/list and session/load on advertised capabilities
  sentinel/src/Acp.Validation.fs
  sentinel/tests/Acp.Validation.Tests.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk
