Repository venikman/ACP-inspector: changes, and which pre-commit hooks are due for each by the changed paths.
All: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: fantomas
        name: Fantomas F# Formatter
        entry: bash -c 'dotnet tool restore > /dev/null 2>&1 && dotnet fantomas --check src tests apps'
        language: system
        files: \.(fs|fsx|fsi)$
        exclude: ^(tests/golden/|.*obj/.*|.*\.AssemblyInfo\.fs)
        pass_filenames: false

      - id: dotnet-test-main
        name: Run ACP.Tests (main test suite)
        entry: bash -c 'dotnet test tests/ACP.Tests.fsproj --configuration Release --logger "console;verbosity=minimal"'
        language: system
        files: \.(fs|fsx|fsi|fsproj)$
        pass_filenames: false

      - id: dotnet-test-epistemology
        name: Run Epistemology.Harness tests
        entry: bash -c 'dotnet test tests/Epistemology.Harness/Epistemology.Harness.fsproj --configuration Release --logger "console;verbosity=minimal"'
        language: system
        files: \.(fs|fsx|fsi|fsproj)$
        pass_filenames: false

      - id: dotnet-test-validation
        name: Run Validation.Harness tests
        entry: bash -c 'dotnet test tests/Validation.Harness/Validation.Harness.fsproj --configuration Release --logger "console;verbosity=minimal"'
        language: system
        files: \.(fs|fsx|fsi|fsproj)$
        pass_filenames: false

      - id: dotnet-test-sdk
        name: Run SDK.Harness tests
        entry: bash -c 'dotnet test tests/SDK.Harness/SDK.Harness.fsproj --configuration Release --logger "console;verbosity=minimal"'
        language: system
        files: \.(fs|fsx|fsi|fsproj)$
        pass_filenames: false

Improve upstream watch and pin schema refs
  .github/workflows/acp-upstream-watch.yml
  README.md
  apps/ACP.Cli/Program.fs
  docs/tasks/TASK-008-schema-pin-and-ci-watch.md
  src/Acp.Protocol.fs
  tests/ACP.Tests.fsproj
  tests/Acp.Domain.Tests.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

Fix workflow issue body formatting
  .github/workflows/acp-upstream-watch.yml
Due: none

Harden release checks in workflow
  .github/workflows/acp-upstream-watch.yml
Due: none

Defer draft RFD tasks and update tracker
  docs/ACP-RFD-TRACKER.md
  docs/tasks/README.md
  docs/tasks/TASK-004-acp-meta-passthrough.md
  docs/tasks/TASK-005-proxy-chains-support.md
  docs/tasks/TASK-006-telemetry-export-panel.md
  docs/tasks/TASK-007-agent-registry.md
Due: none

Add draft proxy chains, telemetry hints, and registry tooling
  apps/ACP.Inspector/Program.fs
  docs/ACP-RFD-TRACKER.md
  docs/protocol.md
  docs/tasks/README.md
  docs/tasks/TASK-005-proxy-chains-support.md
  docs/tasks/TASK-006-telemetry-export-panel.md
  docs/tasks/TASK-007-agent-registry.md
  src/Acp.Codec.AcpJson.fs
  src/Acp.Codec.Types.fs
  src/Acp.Connection.fs
  src/Acp.Domain.fs
  src/Acp.MessageTag.fs
  src/Acp.Protocol.fs
  tests/Acp.Codec.Tests.fs
  tests/traces/proxy-chain.jsonl
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

Harden registry ingestion and manifest URLs
  apps/ACP.Inspector/Program.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

Avoid double-read and TOCTOU in registry loading
  apps/ACP.Inspector/Program.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

Add repository evaluation framework for assessing project viability
  docs/REPO-EVALUATION-FRAMEWORK.md
Due: none

Refocus evaluation framework to be ACP-inspector specific
  docs/REPO-EVALUATION-FRAMEWORK.md
Due: none

Add detailed evaluation results applying the framework
  docs/REPO-EVALUATION-RESULTS.md
Due: none

Add improvement ideas scored against evaluation framework
  docs/REPO-IMPROVEMENT-IDEAS.md
Due: none

Add assessment index as one-stop map for all artifacts
  docs/REPO-ASSESSMENT-INDEX.md
Due: none

Stabilize markdownlint hook
  .pre-commit-config.yaml
Due: none

Ignore node_modules in subrepos
  cli/.gitignore
  protocol/.gitignore
  runtime/.gitignore
  sentinel/.gitignore
Due: none

chore(docs): add audit harness; align markdownlint scope
  .github/workflows/ci.yml
  .gitignore
  .markdownlint-cli2.yaml
  PLANS.md
  docs/SDK-COMPARISON.md
  docs/architecture/product-structure.md
  docs/fpf/bridges/BR-ACP-001-protocol-to-runtime.md
  docs/fpf/bridges/BR-ACP-002-protocol-to-sentinel.md
  docs/fpf/bridges/BR-ACP-003-runtime-to-cli.md
  docs/fpf/bridges/BR-ACP-004-sentinel-to-cli.md
  docs/fpf/contexts/cli-tooling-v1.md
  docs/fpf/contexts/codex-compound-engineering-v1.md
  docs/fpf/contexts/runtime-sdk-v1.md
  docs/fpf/contexts/sentinel-validation-v1.md
  docs/fpf/task-frames/TF-codex-compound-engineering-import-v1.md
  docs/index.md
  scripts/docs_audit.sh
Due: none

chore(build): fix root dotnet build ambiguity
  ACP-inspector.slnx
  PLANS.md
  docs/fpf/contexts/cli-tooling-v1.md
  sentinel/tests/traces/README.md
Due: none

feat(cli): disable ANSI colors when redirected
  PLANS.md
  cli/apps/ACP.Cli/Common/Output.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

feat(cli): implement inspect record + strict stop-on-error
  PLANS.md
  cli/apps/ACP.Cli/Commands/InspectCommand.fs
  cli/examples/cli-demo/decode-error-fixture.jsonl
  cli/scripts/cli-regressions.sh
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

docs+scripts: add 2-minute try workflow
  PLANS.md
  README.md
  docs/tooling/ci-integration.md
  docs/tooling/trace-format.md
  scripts/try.sh
Due: none

ci: add GitHub Releases workflow for CLI binaries
  .github/workflows/release.yml
  PLANS.md
  README.md
Due: none

chore(oss): add LICENSE and align package metadata URLs
  .github/workflows/release.yml
  LICENSE
  PLANS.md
  cli/apps/ACP.Cli/ACP.Cli.fsproj
  protocol/src/ACP.fsproj
  runtime/src/ACP.fsproj
  sentinel/src/ACP.fsproj
Due: dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

chore(plans): record v0.1.1 release
  PLANS.md
Due: none

test(sentinel): make harness project references explicit
  sentinel/tests/Epistemology.Harness/Epistemology.Harness.fsproj
  sentinel/tests/Validation.Harness/Validation.Harness.fsproj
Due: dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

docs: align README commands with holon paths
  README.md
Due: none

chore(docs): fix markdownlint failures
  .markdownlint-cli2.yaml
  cli/benchmarks/README.md
  cli/benchmarks/results/COMPARISON.md
  docs/REPO-EVALUATION-FRAMEWORK.md
  docs/REPO-EVALUATION-RESULTS.md
  docs/REPO-IMPROVEMENT-IDEAS.md
  docs/fpf/bridges/BR-ACP-001-protocol-to-runtime.md
  docs/fpf/bridges/BR-ACP-002-protocol-to-sentinel.md
  docs/fpf/bridges/BR-ACP-003-runtime-to-cli.md
  docs/fpf/bridges/BR-ACP-004-sentinel-to-cli.md
  docs/fpf/contexts/cli-tooling-v1.md
  docs/fpf/contexts/runtime-sdk-v1.md
  docs/fpf/contexts/sentinel-validation-v1.md
  sentinel/docs/REPO-EVALUATION-FRAMEWORK.md
  sentinel/docs/REPO-EVALUATION-RESULTS.md
  sentinel/docs/REPO-IMPROVEMENT-IDEAS.md
  sentinel/docs/fpf/bridges/BR-ACP-001-protocol-to-runtime.md
  sentinel/docs/fpf/bridges/BR-ACP-004-sentinel-to-cli.md
  sentinel/docs/fpf/contexts/cli-tooling-v1.md
  sentinel/docs/fpf/contexts/protocol-core-v1.md
  sentinel/docs/fpf/contexts/runtime-sdk-v1.md
Due: none

docs(superpowers): add 2026-04-07 repo-wide housekeeping spec
  docs/superpowers/specs/2026-04-07-repo-housekeeping-design.md
Due: none

docs(superpowers): refine §10.B with branch triage data
  docs/superpowers/specs/2026-04-07-repo-housekeeping-design.md
Due: none

docs(superpowers): add 2026-04-07 housekeeping implementation plan
  docs/superpowers/plans/2026-04-07-repo-housekeeping-plan.md
Due: none

docs(superpowers): add 2026-04-07 scope reduction design
  docs/superpowers/specs/2026-04-07-scope-reduction-design.md
Due: none

protocol(runtime): add ACP 0.11.3 session admin support
  cli/src/Acp.MessageTag.fs
  protocol/src/ACP.fsproj
  protocol/src/Acp.Domain.fs
  protocol/src/Acp.Protocol.fs
  runtime/src/ACP.fsproj
  runtime/src/Acp.Codec.AcpJson.fs
  runtime/src/Acp.Codec.Types.fs
  runtime/src/Acp.Connection.fs
  runtime/src/Acp.Contrib.SessionState.fs
  sentinel/src/ACP.fsproj
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

test(cli): cover stable session admin flows
  cli/apps/ACP.Benchmark/Program.fs
  cli/apps/ACP.Cli/Commands/BenchmarkCommand.fs
  sentinel/tests/Acp.Codec.Tests.fs
  sentinel/tests/Acp.Connection.Tests.fs
  sentinel/tests/Acp.SessionState.Tests.fs
  sentinel/tests/Acp.Validation.Tests.fs
  sentinel/tests/Pbt/Generators.fs
  sentinel/tests/Pbt/ProtocolStateMachine.fs
  sentinel/tests/Pbt/SessionProperties.fs
  sentinel/tests/traces/README.md
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

chore(cli): eliminate nullable build warnings
  cli/apps/ACP.Cli/Commands/ReplayCommand.fs
  cli/apps/ACP.Cli/Commands/ValidateCommand.fs
  cli/apps/ACP.Cli/Program.fs
  runtime/src/Acp.Codec.AcpJson.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

chore(housekeeping): apply FPF baseline cleanup
  .gitignore
  .gitmodules
  docs/reports/housekeeping-2026-04-07/audit-001-delta.md
  docs/reports/housekeeping-2026-04-07/baseline.md
  docs/reports/housekeeping-2026-04-07/branch-disposition.md
  docs/reports/housekeeping-2026-04-07/session-log.md
  protocol/src/Acp.Domain.fs
  protocol/src/Acp.Protocol.fs
  runtime/src/Acp.Codec.AcpJson.fs
  runtime/src/Acp.Contrib.SessionState.fs
  sentinel/tests/Acp.Codec.Tests.fs
  sentinel/tests/Acp.Connection.Tests.fs
  sentinel/tests/Acp.SessionState.Tests.fs
  sentinel/tests/Pbt/EvidenceRunner.fs
  sentinel/tests/Pbt/Generators.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk

ci: unblock master (markdownlint + acp-upstream-watch YAML)
  .github/workflows/acp-upstream-watch.yml
  docs/superpowers/plans/2026-04-07-repo-housekeeping-plan.md
  docs/superpowers/specs/2026-04-07-repo-housekeeping-design.md
  docs/superpowers/specs/2026-04-07-scope-reduction-design.md
Due: none

style(cli): satisfy fantomas — blank line before nested match in ReplayCommand
  cli/apps/ACP.Cli/Commands/ReplayCommand.fs
Due: fantomas, dotnet-test-main, dotnet-test-epistemology, dotnet-test-validation, dotnet-test-sdk
